<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingreso de Ejecucion </title>
</head>
</body>

<p align="center">FORMULARIO PARA ANDROID</p>
    <form method="POST" action="">{% csrf_token %}
        {{ el_formulario5.as_p }}
        <input type="submit" value="Guardar">
        </form>
</body>
</html>